<div class="home">
  <div [ngClass]="body">
    <section [ngClass]="header">
      <a href="https://github.com/DaianaLins">
        <h2>Dloguinho</h2>
      </a>
      <button type="submit" (click)="logout()">
        Sair
      </button>
    </section>
      <div [ngClass]="content">
        <section  *ngFor="let posts of listPost">
          <div [ngClass]="container">
            <div [ngClass]="contentAut">
              <div [ngStyle]="{'paddingRight':'0.5rem' }" >
                <img (click)="openImage(posts.imageAuthor?.url)" src={{posts.imageAuthor?.url}} [ngStyle]="{'width': '2.5rem', 'borderRadius': '20px', 'cursor': 'pointer' }" />
              </div>
              <p><span>{{posts.author}}</span></p>
            </div>
            <h1>{{posts.title}}</h1>
            <div [ngClass]="artigo" >
              <p>
                {{posts.description}}
              </p>
              <img (click)="openImage(posts.image?.url)" src={{posts.image?.url}} [ngStyle]="{'width': '100%', 'marginTop': '2.5rem',  'borderRadius': '10px', 'cursor': 'pointer' }" />
            </div>
            <p [ngStyle]="{'paddingLeft': '2rem' }" ><span>{{posts.date | date:"HH:mm · dd/MM/yyyy" }}</span></p>
          </div>
        </section>
      </div>
  </div>
</div>
